*{
  background-color: none;  
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
    }
.clear {
    clear: both;
    }
.next-paragraph {
        clear: both;
    }
h1  {
    color:cadetblue;
    font-family: Arial, sans-serif;
    }
h2  {
    color:cadetblue;
    font-family: Arial, sans-serif;
    }
h3  {
    color:cadetblue;
    font-family: Arial, sans-serif;
    }
p   {
    color:black;
    font-family: Arial, sans-serif;
    }
.footer {
    position: fixed bottom;
    bottom: 0%;
    width: 100%;
    }
.footer-content {
    color:lightgrey;
    font-family: Arial, sans-serif;
    background-color:cadetblue;
    padding: 10px;
    }
a   {
    color:darkgrey;
    font-family: Arial, sans-serif;
    }
img {
    border-radius: 5%;
    border-color:darkgray;
    border-style: solid;
    border-width:10px
    }
/* These are telling a link (a href) how to behave */
.link {
	text-decoration: none;
	color: darkgrey;
}
.link:hover {
	text-decoration: underline;
	text-decoration-color: darkgrey;
    }
