h1 {
    color:blue;
}
a {
    color: red;
}
p {
    color:darkgoldenrod;
}
img {
    border-radius: 5%;
    border-color:darkgray;
    border-style: solid;
    border-width:10px
}
.greentext {
    color:green;
}
#link {
	text-docoration: none;
	color: blue;
}
#link:hover {
	text-decoration: underline;
	text-decoration-color: red;
    }