h1 {
    color:blue;
}
a {
    color: red;
}
p {
    color:darkgoldenrod;
}
img {
    border-radius: 5%;
    border-color:darkgray;
    border-style: solid;
    border-width:10px
}
/* Only using greentext to test the over riding of general h1 specification */
.greentext {
    color:green;
    text-decoration: none
}
/* These are telling a link (a href) how to behave */
.link {
	text-decoration: none;
	color: blue;
}
.link:hover {
	text-decoration: underline;
	text-decoration-color: red;
    }